.department:hover {
    background-color:aliceblue ;
    border: medium solid gray;
}

.employee {
    min-height: 50px;
}

.employee:hover {
    background-color:aliceblue ;
    border: medium solid gray;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

  }